@charset "UTF-8";


div#bloco{
    background-color: rgb(4, 64, 68);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 3px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    line-height: 300px;
}

div#bloco:hover {
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}